<div class="Bar">
  <h5>LOCATION:</h5>
  <ul class="BreadcrumbNavigation">
    <li><%= link_to "HOME", root_path %> &gt;</li>
    <li>CERTIFICATES</li>
  </ul>
  <div class="clear"></div>
</div>
<div id="MainWrap">
  <ul id="honor_list">
    <% for certificate in @certificates -%>
    <li><%= link_to image_tag(certificate.image.url(:medium)), certificate.image.url ,:class => "fancybox" %> </li>
    <% end -%>
  </ul>
  <%= paginate @certificates %>
</div>
<script type="text/javascript">
  jQuery(this).ready(function($) {
      $('#LogoNav li').removeClass("li_selected");
      $('#LogoNav #id_certificate').addClass("li_selected");
      });
</script>
